* {
  color: #fff;
}

body,
html {
  margin: 0;
  background: #000;
  font-family: sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#p5_loading {
  font-size: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  animation: flash .5s infinite;
}

footer {
  position: absolute;
  bottom: 0;
}

p {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .2rem;
}

a,
a:visited {
  font-size: 1.2rem;
}

#heart {
  font-size: 1.6rem;
}

@media (max-width: 480px) {
  p {
    font-size: .6rem;
    margin: .5rem;
  }

  a,
  a:visited {
    font-size: .6rem;
  }

  #heart {
    font-size: .8rem;
  }
}
